.button {
  background-color: #FAF0D7; /* 아이보리 톤 */
  border: none;
  border-radius: 9999px; /* 완전 둥글게 */
  padding: 12px 16px;
  cursor: pointer;

  display: flex;              /* 아이콘 정렬 */
  align-items: center;        /* 세로 중앙 */
  justify-content: center;    /* 가로 중앙 */

  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* 살짝 그림자 */
}

.button img {
  width: 100px;
  height: 100px;
}
