.page {
  width: 400px;
  height: 580px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  position: relative;
  top: 10px;
  left: 15px;
  display: flex;
  flex-direction: row;
  color: #8a6851;
  gap: 13px;
  font-size: 7px;
}

.titleText {
  margin-top: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px;
}

.writeButton {
  background-color: #e3737b;
  border-color: #4343fb;
  height: 50px;
}

.exitButton {
  background-color: #fcede2;
  border-color: #8a6851;
  color: #8a6851;
  height: 50px;
}
.letterButton {
  width: 100%;
  text-align: left;
  background-color: #8a6851; /* 카드 배경 - 연한 베이지 */
  border: 0px solid #d9c7aa; /* 테두리 연갈색 */
  border-radius: 12px;
  padding: 0.1px 0.1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  cursor: pointer;

  transition: transform 0.15s ease, box-shadow 0.15s ease;

}

.letterButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  background-color: #fffaf3;
}

.letterTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  color: #5b4633;
}

.letterPreview {
  font-size: 14px;
  color: #6b4e3d;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.letterDate {
  font-size: 12px;
  color: #8a6851;
  text-align: right;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px; /* 카드 간격 */
  padding: 0;
  margin: 0;
  list-style: none;
}
.item {
  width: 100%;
}