.nav {
  position: absolute; /* ✅ fixed → absolute */
  left: 0; /* 컨테이너의 왼/오/아래에 딱 붙이기 */
  right: 0;
  bottom: 0;
  height: 56px;
  display: flex;
  justify-content: space-around; /* 아이템 간격 균등 분배 */

  background: #6a3a18;
  color: #ffdca8;
  align-items: center;
  text-align: center;
}

.active {
  font-weight: 700;
  color: #fff3d0;
  text-decoration: underline;
}
