
.page {
  position: relative;
  width: 100%;
  height: 100%; /* ← 400x800 프레임 안에서 꽉 채우기 */
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  background-color: #FAF0D7;
}

.mapPlaceholder {
  width: 400px;
  height: 100%;
}


.cta {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 15px;
}

.actionsRight {
  display: flex;
  justify-content: flex-end; /* 오른쪽으로 밀기 */
}